

<section class="container test">
  <% for (const films of model){ %>

  <div class="card">
    <img class="card-img-top" src= <%= films.Image%> alt="Imagem do card">
    <div class="card-body">
      <h5 class="card-title"><%= films.Name%> </h5>
      <p class="card-text"><%= films.Review%></p>
    </div>
  </div>
  <%  } %>
</section>
