<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href=" /css/bootstrap.min.css">
  <link rel="stylesheet" href=" /css/styles.css">
  <link rel="stylesheet" href=" /css/form.css">
  <link rel="stylesheet" href=" /css/card-style.css">
  <link rel="stylesheet" href=" /css/footer.css">
  <title>App Ono</title>
</head>
<body>
  <!-- cabeçalho -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
      <div class="container">
        <a href="/" class="navbar-brand"><img src="/assets/Logo_V1.svg" alt=""></a>

        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a href="/cadastro" class="nav-link">Cadastro</a>
          </li> 

          <li class="nav-item">
            <a href="/review" class="nav-link">Review</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  
  